<section>
<search></search>
<md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
  <md-grid-list md-cols-xs="2" md-cols-sm="4" md-cols="8" md-row-height="1:1" ng-hide="isLoading"> 
    <md-grid-tile class="gray" ng-repeat="character in characterVm.characters.results | filter:search:strict">
        <a ng-href="#/characters/{{character.id}}">
        <md-grid-tile-header>
          <h3>{{character.name}}</h3>
        </md-grid-tile-header>
        <img ng-src="{{character.image.small_url}}" alt="{{character.name}}" title="{{character.name}}" width="100%" height="400px">
        </a>
    </md-grid-tile>
  </md-grid-list>
</section>