<div ng-controller="SerieCtrl" class="row">

<div class="input-group">
      <input type="text" ng-model="search.name" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
</div>
  <h1>Comic series</h1>
  <div class="row">
  <div ng-repeat-start="serie in series.results | filter:search:strict" class="col-md-4">
  <a href="#/series/{{serie.id}}">
    <h3>{{serie.name}}</h3>
    <img src="{{serie.image.small_url}}" alt="{{serie.name}}" title="{{serie.name}}" width="200px" height="300px">
    <p>{{serie.deck}}</p>
  </a>
  </div>
  <div class="clearfix" ng-if="$index%3==2"></div>
  <div ng-repeat-end=""></div>
  </div>
</div>
