<section>
  <search></search>
  <md-grid-list md-cols-xs="1" md-cols-sm="4" md-cols="8" md-row-height="1:1"> 
    <md-grid-tile class="gray" ng-repeat="serie in series.results | filter:search:strict">
        <a href="#/series/{{serie.id}}">
        <md-grid-tile-header>
          <h3>{{serie.name}}</h3>
        </md-grid-tile-header>
        <img ng-src="{{serie.image.small_url}}" alt="{{serie.name}}" title="{{serie.name}}" width="100%" height="300px">
        </a>
    </md-grid-tile>
  </md-grid-list>
</section>
