<md-content class="md-padding" layout="row" layout-wrap layout-align="center start" layout-xs="column">
<md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
    <div flex="50" flex-sm="100" flex-xs="100" layout="column">
        <md-card>
            <md-card-content>
                <h1 class="md-title">{{singlemovie.results[0].name}}</h1>
                <img ng-src="{{singlemovie.results[0].image.medium_url}}" alt="{{singlemovie.results[0].name}}" title="{{singlemovie.results[0].name}}">
            </md-card-content>
        </md-card>
    </div>
    <div flex="50" flex-sm="100" flex-xs="100" layout="column"> 
    <md-card ng-if="singlemovie.results[0].description.length > 0">
        <md-card-content>
            <md-content ng-bind-html="singlemovie.results[0].description"></md-content>
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-content>
            <md-content>
                <p><b>Rating:</b> {{singlemovie.results[0].rating}} </p>
                <p><b>Release date:</b> {{singlemovie.results[0].release_date | date}} </p>
                <p><b>Budget:</b> {{singlemovie.results[0].budget | currency}} </p>
                <p><b>Box office:</b> {{singlemovie.results[0].box_office_revenue | currency}} </p>
                <h3 ng-show="singlemovie.results[0].studios">Studio(s)</h3>
                <p ng-repeat="studio in singlemovie.results[0].studios" ng-show="studio.name">{{studio.name}}</p>
            </md-content>
        </md-card-content>
    </md-card>
    </div>
</md-content>