<div ng-controller="SingleserieCtrl">
  <div class="col-md-12">
    <h1>{{singleserie.results.name}}</h1>
    <img ng-src="{{singleserie.results.image.screen_url}}" alt="{{singleserie.results.name}}" title="{{singleserie.results.name}}">
    <div class="panel panel-default">
      <div class="panel-heading">Description</div>
      <div class="panel-body" ng-bind-html="singleserie.results.description"></div>
    </div>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Episodes</div>

      <!-- Table -->
      <table class="table">
        <tr ng-repeat="episode in singleserie.results.episodes">
            <td>{{episode.name}}</td>
        </tr>
    </table>
    </div>
    <h3>Publisher</h3>
    {{singleserie.results.publisher.name}}
  </div>
</div>
