<md-content class="md-padding" layout="row" layout-wrap layout-align="center start" layout-xs="column">
<md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
    <div flex="50" flex-sm="100" flex-xs="100" layout="column">
		<md-card>
			<md-card-content>
				<h1 class="md-title">{{singlecharacter.results[0].name}}</h1>
        		<p class="md-body-1"><b class="md-body-2">Aliases:</b> {{singlecharacter.results[0].aliases}} </p>
        		<p class="md-body-1"><b class="md-body-2">Real name:</b> {{singlecharacter.results[0].real_name | date}} </p>
        		    <img ng-src="{{singlecharacter.results[0].image.medium_url}}" alt="{{singlecharacter.results[0].name}}" title="{{singlecharacter.results[0].name}}">

        	</md-card-content>
        </md-card>
     </div>
    <div flex="50" flex-sm="100" flex-xs="100" layout="column">
	    <md-card>
			<md-card-content>
	    <md-content ng-bind-html="singlecharacter.results[0].description"></md-content>
	    </md-card-content>
	    </md-card>
	</div>
</div>
</md-content>


